body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.calculator {
    background-color: #002b48;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
}

.display {
    background-color: #1a1a1a;
    color: #fff;
    font-size: 2.5rem;
    text-align: right;
    padding: 20px;
    box-sizing: border-box;
    word-wrap: break-word;
    word-break: break-all;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
}

.btn {
    background-color: #005780;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #007bff;
}

.equal-btn {
    background-color: #ff9500;
    grid-column: span 2;
}

.zero-btn {
    grid-column: span 2;
}

.zero-btn, .equal-btn {
    font-size: 2rem;
}
